html {
	height: 100%;
}

body {
	height: 100%;
	min-height: 35rem;
	position: relative;
	font-family: "Gotham Book" !important;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: "Gotham Book" !important;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
	body {
		background: url("../img/bg-mobile-fallback.jpg") #002e66 no-repeat center center scroll;
		background-position: cover;
	}
	body video {
		display: none;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	z-index: 1;
}

.masthead {
	position: relative;
	overflow: hidden;
	padding-bottom: 3rem;
	z-index: 2;
}

.masthead .masthead-content h1 {
	font-size: 2.5rem;
	font-family: "Gotham Book" !important;
}

.masthead .masthead-content p {
	font-size: 1.2rem;
	font-family: "Gotham Book" !important;
}

.masthead .masthead-content p strong {
	font-weight: 700;
	font-family: "Gotham Book" !important;
}

.masthead .masthead-content .input-group-newsletter input {
	height: auto;
	font-size: 1rem;
	padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 1rem;
}

@media (min-width: 768px) {
	.masthead {
		height: 100%;
		min-height: 0;
		padding-bottom: 0;
	}
	.masthead .masthead-content {
		display: block;
		margin: 0 auto;
		border: solid 2px #fff;
		padding: 50px;
		height: calc(100vh - 230px);
		max-width: 800px;
	}
	.masthead .masthead-content h1 {
		font-size: 3rem;
		line-height: 1.4;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
	.masthead .masthead-content p {
		font-size: 1.3rem;
	}
}

.social-icons {
	position: absolute;
	margin-bottom: 2rem;
	width: 100%;
	z-index: 2;
}

.input {
	font-weight: 300 !important;
	font-family: "Gotham Black Regular" !important;
}

.overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.logo {
	width: 120px;
	margin: 50px 0;
	display: block;
}

.band {
	position: relative;
	display: block;
	height: 140px;
	width: 100%;
	border: 5px solid white;
	overflow: hidden;
	margin-bottom: 30px;
	opacity: 0.5;
}

.admin-band {
	height: 250px;
}

.band:hover {
	text-decoration: none;
}

.color1 {
	/*background-color: #6e1390;*/
	color: #6e1390 !important;
}
.color2 {
	/*background-color: #00c2ae;*/
	color: #00c2ae !important;
}
.color3 {
	/*background-color: #f45b00;*/
	color: #f45b00 !important;
}
.color4 {
	/*background-color: #62d350;*/
	color: #62d350 !important;
}

.band-img {
	width: 100%;
}

.band-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.4;
	z-index: 1;
}

.hvr-grow.clicked {
	opacity: 1;
	-webkit-transition: 1s ease;
}

.counter {
	position: absolute;
	padding: 7px;
	color: #fff;
	font-size: 20px;
	font-family: "Gotham Black Regular" !important;
}

.band-name {
	margin: 7px 0;
	font-size: 25px;
	text-align: center;
	color: #fff;
}
.dj-name {
	text-align: center;
	margin: 0;
	font-size: 18px !important;
}

.band-name-admin {
	padding: 7px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #fff;
}

.admin-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	height: 100%;
	width: 100%;
	opacity: 0.7;
	z-index: 1;
}

.band-form {
	z-index: 99;
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

h1.mb-3 {
	padding: 42px;
	font-family: "Gotham Book" !important;
}

.sub_button,
.reset_button {
	margin: 10px;
	color: #fff;
	text-align: center;
	display: block;
	font-family: "Gotham Book";
}

.sub_button:hover,
.reset_button:hover {
	text-decoration: none;
	color: #fff;
}

.progress {
	width: 100%;
	height: 100%;
}
.progress-wrap {
	background: #dcdcdc;
	margin: 0;
	overflow: hidden;
	position: relative;
}
.progress-bar {
	background: #249c23;
	left: 0;
	position: absolute;
	top: 0;
	width: 0%;
}
.voting-results {
	display: none;
}

.voting-results > p {
	margin-top: 10px;
	margin: 0;
}

#no-content {
	display: none;
}

#no-content .mb-3 a {
	color: #fff;
	font-size: 30px;
}
.mb-3 a:hover {
	text-decoration: none;
}
#voted1,
#voted2 {
	display: none;
}

#manage-btn {
	position: absolute;
	top: -43px;
	right: -32px;
	font-size: 14px;
}

#manage-btn a,
#manage-btn a:hover {
	color: #fff;
	display: block;
}
